[submodule "kubernetes-cluster-app"]
	path = kubernetes-cluster-app
	url = https://github.com/gabrielknot/kubernetes-cluster-app
[submodule "login-Frontend"]
	path = login-Frontend
	url = https://github.com/bbachi/angular-nodejs-example/
[submodule "documentation"]
	path = documentation
	url = https://github.com/gabrielknot/Documentation_Project
